.navbar{
   background-color: black;
   height: 120px;
   max-width: 100%;
}

.navbar a {
  background-color: black;
  text-decoration: none;
  font-size: 15px;  
  color: white;
  display: inline-block;
  padding: 20px;
}

.navbar a:hover {
  color: rgba(163, 14, 14, 1);
}

.hide{
  display: none;
  padding: 3px;
  border-radius: 10px;
  color: white;
  background-color: black;
  z-index: 1;
  position: absolute;
  width: 150px;
  left: auto;
  height: auto;
  max-height: 250px;
  top: 138px;
  overflow: auto;
}

.notifB:hover .hide{
  display: block;
  background-color: black;
} 