.navbar{
   background-color: black;
   max-height: 160px;
   max-width: 100%;
}

.navbar a {
  background-color: black;
  text-decoration: none;
  font-size: 15px;  
  color: white;
  display: inline-block;
  padding: 20px;
}

.navbar a:hover {
  color: rgba(163, 14, 14, 1);
} 
