.navbar{
   background-color: black;
   height: 120px;
   max-width: 100%;
}

.navbar a {
  background-color: black;
  text-decoration: none;
  font-size: 15px;  
  color: white;
  display: inline-block;
  padding: 20px;
}

.navbar a:hover {
  color: rgba(163, 14, 14, 1);
}

.stuff{
  display: none;
}

.notifB:hover .stuff{
   display: block;
  cursor: pointer;
  background-color: black;
  padding: 3px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  position: absolute;
  width: 150px;
  left: auto;
  max-height: 250px;
  top:35px;
  overflow: auto;

} 