.modal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal .content {
  position: relative;
  padding: 10px;
  width: 400px;
  height: auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal.open .content {
  transform: scale(1);
}

.mainContainer.blur {
  filter: blur(4px);
}

.lightBackground.blur {
  filter: blur(4px);
}