.loginButton{
  background-color: #0c9342;
  height: 53px;
  width: 150px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 20%;
  font-size: 18px;
  border-color: #0c9342;
}

.loginButton:hover{
  background-color: darkgreen;
}

#password{
  margin-top: 45px;
  border: none;
  outline: none;
  width: 415px;
}

#usernames{
  margin-top: 45px;
  border: none;
  outline: none;
  margin-left: 3px;
  width: 415px;
}

.frame-525 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 100%;
  width: 100%;
}

.frame-525 .image {
  object-fit: cover;
  width: 930px;
}

.frame-525 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 82px;
  min-height: 589px;
  width: 35% ;
}

.frame-525 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 133px;
  margin-right: 43.0px;
  min-width: 374px;
}

.frame-525 .logo {
  align-self: flex-end;
  height: 132px;
  object-fit: cover;
  width: 143px;
}

.frame-525 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 132px;
  width: 231px;
}

.frame-525 .titles {
  color: var(--black);
  font-family: var(--font-family-rounded_mplus_1c-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 66px;
  line-height: normal;
  width: 231px;
}

.frame-525 .title-container {
  height: 42px;
  width: 230px;
  margin-bottom: 25%;
}

.frame-525 .title-line {
  height: 1px;
  position: absolute;
  top: 1px;
  width: 231px;
}

.frame-525 .subtitle {
  color: var(--black);
  font-family: var(--font-family-rounded_mplus_1c-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 32px;
  line-height: normal;
  position: absolute;
  width: 231px;
}

.frame-525 .login-info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 442px;
  margin-left: 10%;
  padding: 10px 38px;
  width: 90%;
}

.frame-525 .employee-container {
  height: 62px;
  margin-top: 73px;
  position: relative;
  width: 418px;
}

.frame-525 .employee-username {
  height: 34px;
  line-height: normal;
  position: absolute;
  width: 155px;
}

.frame-525 .d-line {
  height: 3px;
  margin-right: 0.5px;
  margin-top: 2%;
  width: 414px;
}

.frame-525 .password-container {
  height: 62px;
  margin-top: 30px;
  width: 415px;
}

.frame-525 .password {
  height: 30px;
  line-height: normal;
  position: absolute;
  width: 104px;
  margin-top: 1%;
}