:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-m: 16px;
 
  --font-family-manrope: "Manrope", Helvetica;
  --font-family-rounded_mplus_1c-medium: "Rounded Mplus 1c-Medium", Helvetica;
}
