/* screen - frame-529 */

.frame-529 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1386px;
  padding: 171px 428px;
  width: 2474px;
}

.frame-529 .edit-employee-page {
  align-items: center;
  background-color: #cfcfcf;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 61px;
  height: 873px;
  margin-left: 83px;
  width: 1535px;
}

.frame-529 .overlap-group {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 79px;
  min-width: 1535px;
}

.frame-529 .item-inventory-page-button {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  padding: 13px 0;
  width: 106px;
}

.frame-529 .power-off-logo {
  height: 25px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  text-align: center;
  width: 36px;
}

.frame-529 .items-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 58px;
}

.frame-529 .category-button {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 23px;
  padding: 13px 0;
  width: 106px;
}

.frame-529 .items {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 70px;
}

.frame-529 .employees {
  align-items: flex-end;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 23px;
  padding: 13px;
  width: 106px;
}

.frame-529 .power-off-logo-1 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  text-align: center;
  width: 36px;
}

.frame-529 .items-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 79px;
}

.frame-529 .logo {
  align-self: center;
  height: 66px;
  margin-left: 330px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 106px;
}

.frame-529 .profile-button {
  align-items: center;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 369px;
  padding: 13px 0;
  width: 106px;
}

.frame-529 .notification {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 24px;
  padding: 13px 0;
  width: 106px;
}

.frame-529 .logout-button {
  align-items: center;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 24px;
  padding: 13px 0;
  width: 106px;
}

.frame-529 .overlap-group1 {
  height: 572px;
  margin-right: 78.97px;
  position: relative;
  width: 1110px;
}

.frame-529 .light-background {
  background-color: #d9d9d9;
  border: 1px none;
  height: 571px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1109px;
}

.frame-529 .add-new-employee {
  height: 72px;
  left: 469px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 210px;
}

.frame-529 .line-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 1110px;
}

.frame-529 .first-name {
  height: 28px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 129px;
  width: 122px;
}

.frame-529 .home-address {
  height: 28px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 311px;
  width: 127px;
}

.frame-529 .line-4 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 186px;
  width: 268px;
}

.frame-529 .last-name {
  height: 28px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
  width: 122px;
}

.frame-529 .line-8 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 273px;
  width: 268px;
}

.frame-529 .line-5 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 369px;
  width: 268px;
}

.frame-529 .cancel-button {
  align-items: flex-start;
  background-color: #a20e0e;
  border: 1px none;
  border-radius: 15px;
  display: flex;
  height: 47px;
  left: 948px;
  min-width: 150px;
  padding: 8px 25px;
  position: absolute;
  top: 489px;
}

.frame-529 .cancel {
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100px;
}

.frame-529 .save-button {
  align-items: flex-start;
  background-color: #0c9342;
  border: 1px none;
  border-radius: 15px;
  display: flex;
  height: 47px;
  left: 761px;
  min-width: 150px;
  padding: 8px 25px;
  position: absolute;
  top: 489px;
}

.frame-529 .save {
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100px;
}

.frame-529 .employee-add-addresstext {
  border: 1px none;
  height: 28px;
  left: 30px;
  position: absolute;
  top: 342px;
  width: 268px;
}

.frame-529 .employee-add-l-ntext {
  border: 1px none;
  height: 28px;
  left: 30px;
  position: absolute;
  top: 246px;
  width: 268px;
}

.frame-529 .employee-add-f-ntext {
  border: 1px none;
  height: 28px;
  left: 30px;
  position: absolute;
  top: 160px;
  width: 268px;
}
