body{
	background-color: rgba(207, 207, 207, 1);
}

.lightBackground{
	background-color: rgba(217, 217, 217, 1);
	position: absolute;
	width: 75%;
	height: 75%;
	left: 13%;
	top: 20%;
}

.title{
	margin-left: 35%;
	text-align: center;
	height: 10%;
	width: 30%;
	display: inline-block;
	font-size: 6px;
	margin-top: 3%;
}

.float-container {
    padding: 20px;
    height: 350px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    padding-left: 10%;
    height: 100%;
}  	