Options -multiViews

RewriteEngine on

#RewriteBase /foldername_under_htdocs
#if you need to put a folder that is not htdocs
#have to specify the filename if moved

 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
					#pass a url parameter Querry,String,Append match a character
RewriteRule ^()$ index.php?url=$1 [QSA,L]

					#pass a url parameter Querry,String,Append match no character