.loginButton{
  background-color: #0c9342;
  height: 53px;
  width: 150px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 20%;
  font-size: 18px;
  border-color: #0c9342;
}

.loginButton:hover{
  background-color: darkgreen;
}

#password{
  margin-top: 36px;
  border: none;
  outline: none;
  width: 415px;
}

#username{
  margin-top: 37px;
  border: none;
  outline: none;
  margin-left: 3px;
  width: 415px;
}

.frame-525 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 58px;
  height: 1340px;
  padding: 160px 61px;
  width: 1788px;
}

.frame-525 .image {
  height: 762px;
  object-fit: cover;
  width: 954px;
}

.frame-525 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 82px;
  min-height: 589px;
  width: 507px;
}

.frame-525 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 133px;
  margin-right: 43.0px;
  min-width: 374px;
}

.frame-525 .logo {
  align-self: flex-end;
  height: 132px;
  object-fit: cover;
  width: 143px;
}

.frame-525 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 132px;
  width: 231px;
}

.frame-525 .title {
  color: var(--black);
  font-family: var(--font-family-rounded_mplus_1c-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 66px;
  letter-spacing: 0;
  line-height: normal;
  width: 231px;
}

.frame-525 .title-container {
  height: 52px;
  position: relative;
  width: 231px;
}

.frame-525 .title-line {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 231px;
}

.frame-525 .subtitle {
  color: var(--black);
  font-family: var(--font-family-rounded_mplus_1c-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 52px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 231px;
}

.frame-525 .login-info {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 442px;
  padding: 10px 38px;
  width: 507px;
}

.frame-525 .overlap-group {
  align-self: center;
  height: 45px;
  margin-left: 22.29px;
  margin-top: 16px;
  position: relative;
  width: 295px;
}

.frame-525 .employee-button {
  align-items: flex-start;
  background-color: var(--tamarillo);
  border: 1px none;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  height: 44px;
  left: 0;
  min-width: 148px;
  padding: 9px 37.5px;
  position: absolute;
  top: 0;
}

.frame-525 .employee {
  color: var(--white);
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 73px;
  text-align: center;
}

.frame-525 .admin-button {
  align-items: flex-start;
  background-color: #cfcfcf;
  border: 1px none;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  height: 44px;
  left: 147px;
  overflow: hidden;
  padding: 9px 49.5px;
  position: absolute;
  top: 0;
  width: 148px;
}

.frame-525 .admin {
  color: var(--tamarillo);
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 49px;
  text-align: center;
}

.frame-525 .line-2 {
  height: 45px;
  left: 147px;
  position: absolute;
  top: 0;
  width: 149px;
}

.frame-525 .employee-container {
  height: 62px;
  margin-top: 73px;
  position: relative;
  width: 418px;
}

.frame-525 .employee-username {
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 155px;
}

.frame-525 .login-employee-name-text {
  border: 1px none;
  height: 28px;
  left: 3px;
  position: absolute;
  top: 34px;
  width: 415px;
}

.frame-525 .d-line {
  height: 2px;
  margin-right: 0.5px;
  width: 414px;
}

.frame-525 .password-container {
  height: 62px;
  margin-top: 30px;
  position: relative;
  width: 415px;
}

.frame-525 .password {
  height: 37px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 104px;
}

.frame-525 .login-employee-password-text {
  border: 1px none;
  height: 28px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 415px;
}

.frame-525 .login-button {
  align-items: flex-start;
  background-color: #0c9342;
  border: 1px none;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  height: 53px;
  margin-right: 1px;
  margin-top: 80px;
  min-width: 156px;
  padding: 11px 32px;
}

.frame-525 .log-in {
  color: var(--white);
  font-family: var(--font-family-rounded_mplus_1c-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 68px;
}

.frame-525 .arrow-right {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-width: 14px;
  text-align: center;
}

