.frame-527 .overlap-group10 {
  height: 686px;
  margin-left: 3px;
  position: relative;
  width: 1532px;
}

.frame-527 .scroll-frame {
  align-items: flex-start;
  background-color: #cfcfcf;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 658px;
  height: 686px;
  left: 0;
  overflow: hidden;
  padding: 0 12px;
  position: absolute;
  top: 0;
  width: 1532px;
}