/* screen - frame-533 */

.frame-533 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1300px;
  padding: 259px 324px;
  width: 2389px;
}

.frame-533 .edit-profile-page {
  align-items: center;
  background-color: #cfcfcf;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 61px;
  height: 762px;
  margin-left: 206px;
  width: 1535px;
}

.frame-533 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 79px;
  min-width: 1535px;
}

.frame-533 .item-inventory-page-button {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  padding: 13px 0;
  width: 106px;
}

.frame-533 .power-off-logo {
  height: 25px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  text-align: center;
  width: 36px;
}

.frame-533 .items-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 58px;
}

.frame-533 .category-button {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 23px;
  padding: 13px 0;
  width: 106px;
}

.frame-533 .items {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 70px;
}

.frame-533 .logo {
  align-self: center;
  height: 66px;
  margin-left: 459px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 106px;
}

.frame-533 .profile-button {
  align-items: center;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 369px;
  padding: 13px 0;
  width: 106px;
}

.frame-533 .notification {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 24px;
  padding: 13px 0;
  width: 106px;
}

.frame-533 .logout-button {
  align-items: center;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-left: 24px;
  padding: 13px 0;
  width: 106px;
}

.frame-533 .overlap-group {
  height: 572px;
  margin-right: 78.97px;
  position: relative;
  width: 1110px;
}

.frame-533 .light-background {
  background-color: #d9d9d9;
  border: 1px none;
  height: 571px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1109px;
}

.frame-533 .edit-profile {
  color: var(--black);
  font-family: var(--font-family-rounded_mplus_1c-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 72px;
  left: 469px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 210px;
}

.frame-533 .line-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 1110px;
}

.frame-533 .first-name {
  height: 30px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 110px;
  width: 117px;
}

.frame-533 .last-name {
  height: 23px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 186px;
  width: 187px;
}

.frame-533 .line-4 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 167px;
  width: 268px;
}

.frame-533 .cancel-button {
  align-items: flex-start;
  background-color: #a20e0e;
  border: 1px none;
  border-radius: 15px;
  display: flex;
  height: 47px;
  left: 948px;
  min-width: 150px;
  padding: 8px 25px;
  position: absolute;
  top: 489px;
}

.frame-533 .cancel {
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100px;
}

.frame-533 .save-button {
  align-items: flex-start;
  background-color: #0c9342;
  border: 1px none;
  border-radius: 15px;
  display: flex;
  height: 47px;
  left: 761px;
  min-width: 150px;
  padding: 8px 25px;
  position: absolute;
  top: 489px;
}

.frame-533 .save {
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100px;
}

.frame-533 .line-8 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 241px;
  width: 268px;
}

.frame-533 .line-10 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 400px;
  width: 268px;
}

.frame-533 .password {
  height: 33px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 336px;
  width: 266px;
}

.frame-533 .home-address-optional {
  height: 33px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 256px;
  width: 266px;
}

.frame-533 .line-9 {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 319px;
  width: 268px;
}

.frame-533 .create-item-name-clicked3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 28px;
  left: 30px;
  position: absolute;
  top: 139px;
  width: 268px;
}

.frame-533 .name {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  width: 98px;
}

.frame-533 .create-item-name-clicked3-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 28px;
  left: 28px;
  position: absolute;
  top: 373px;
  width: 262px;
}

.frame-533 .text-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  width: 98px;
}

.frame-533 .edit-profile-name-text {
  border: 1px none;
  height: 27px;
  left: 30px;
  position: absolute;
  top: 215px;
  width: 267px;
}

.frame-533 .edit-profile-address-text {
  border: 1px none;
  height: 28px;
  left: 30px;
  position: absolute;
  top: 290px;
  width: 267px;
}
